:root{
    --primary-color: #E76F51 ;
    --secondary-color: #F8E1DB ;
    --white: #fff ;
    --grey: #D2D2D2 ;
    --dark: #3B3735 ;
    --app-bg: #FAF4F2 ;
    --primary-font: "Roboto", Arial, Helvetica, sans-serif;
    --primary-font-md: "Roboto Medium", Arial, Helvetica, sans-serif;
    --secondary-font: "Archivo Black", Arial, Helvetica, sans-serif;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*::after,*::before{
    box-sizing: inherit;
}

body{
    line-height: 1.6;
    font-size: 1.6rem;
    font-family: var(--primary-font);
    background-color: var(--app-bg);
}


a{
    text-decoration: none;
}
/* 


-- Component --


*/
.btn{
    border-radius: 10rem; 
    color: var(--white);
    background-color: var(--dark);
    width: 18rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    font-family: var(--primary-font-md);
}


.header{
    background: linear-gradient(rgba(55,59,53,50%),rgba(55,59,53,50%)) , url(../images/header-bg.jpg);
    background-position: center;
    background-size: cover;
    min-height: 85vh;
    border-bottom-left-radius: 10rem;
    border-bottom-right-radius: 10rem;
}


/* 



===========
    Nav
===========



*/
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 0;
}
.nav__wrapper{
    display: flex;
    align-items: center;
}
/* 



=================
    App Logo
=================



*/
.app-logo{
    display: block;
    width: 5.5rem;
    height: 5.5rem;
    margin-right: 4rem;
}
.app-logo__img{
    width: 100%;
    height: 100%;
}
/* 



=============================
    Main Menu (Desketop)
=============================



*/
.menu{
    display: none;
}
.menu__item{
    margin-right: 1.5rem;
}
.menu__link{
    color: var(--grey);
    transition: color 100ms ease-in;
}
.menu__link--active{
    color: var(--white);
    position: relative;
    z-index: 1;
}
.menu__link--active::before{
    content: " ";
    position: absolute;
    top: 7px;
    right: 0;
    left: 0;
    width: 4rem;
    height: 0.3rem;
    background-color: var(--primary-color);
    transform: rotate(45deg);
    border-radius: 10rem;
    margin: 0 auto;
    z-index: -1;
}
.menu__link:hover{
    color: var(--white);
}
/* 



=================
    Nav Menu
=================



*/
.nav-menu{
    background-color: var(--dark);
    position: fixed;
    top: 0;
    left: -25rem;
    bottom: 0;
    padding: 2.5rem;
    width: 25rem;
    transition: all 250ms ease-in-out;
    z-index: 1;
}
.nav-menu--open{
    left: 0;
}
.nav-menu__title{
    font-size: 2rem;
    color: var(--white);
    font-family: var(--secondary-font);
    border-bottom: 1px solid var(--white);
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}
/* 



===================
    Mobile Menu
===================



*/
.mobile-menu{
    margin-bottom: 3rem;
}
.mobile-menu__item{
    margin-bottom: 1rem;
}
.mobile-menu__link{
    color: var(--white);
    position: relative;
    transition: all 250ms ease-in-out;
}
.mobile-menu__link:hover{
    padding-left: 2.2rem;
}
.mobile-menu__link::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background-color: var(--primary-color);
    width: 0;
    height: 0.3rem;
    border-radius: 5rem;
    transition: all 250ms ease-in-out;
}
.mobile-menu__link:hover::before{
    width: 1.6rem;
}
/* 



=================
    Nav Links
=================



*/
.nav-menu__links{
    display: flex;
}
.nav-menu__link{
    color: var(--white);
    border: 1px solid var(--white);
    display: block;
    padding: 1rem;
    flex-grow: 1;
    text-align: center;
    transition: all 100ms ease-in-out;
}
.nav-menu__link:hover{
    background-color: var(--white);
    color: var(--dark);
}
/* 



====================
    header Links
====================



*/
.nav__links{
    display: none;
}
.nav__link{
    color: var(--white);
    margin-left: 1.5rem;
    font-family: var(--primary-font-md);
}
.nav__link--border{
    border: 1px solid var(--white);
    padding: 1rem 2.5rem;
    border-radius: 10rem;
    transition: all 100ms ease-in;
}
.nav__link--border:hover{
    background-color: var(--white);
    color: var(--dark);
}
/* 



===============
    Nav Btn
===============



*/
.nav__btn{
    background-color: var(--white);
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.nav__btn-line{
    background-color: var(--primary-color);
    width: 3rem;
    height: 0.3rem;
    border-radius: 2rem;
    position: relative;
    transition: all 150ms ease-in-out;
}
.nav__btn-line::before,
.nav__btn-line::after{
    content: " ";
    position: absolute;
    background-color: var(--primary-color);
    width: 3rem;
    height: 0.3rem;
    border-radius: 2rem;
    transition: all 200ms ease-in-out;
}
.nav__btn-line::before{
    top: -0.8rem;
}
.nav__btn-line::after{
    top: 0.8rem;
}
.nav__btn--open .nav__btn-line{
    background-color: transparent;
}
.nav__btn--open .nav__btn-line::before{
    transform: translateY(0.8rem) rotate(45deg);
}
.nav__btn--open .nav__btn-line::after{
    transform: translateY(-0.8rem) rotate(-45deg);
}
/* 



=======================
    Header Content
=======================



*/
.header__content{
    text-align: center;
    color: var(--white);
    margin-top: 6rem;
}
.header__title{
    max-width: 35rem;
    font-size: 5rem;
    font-family: var(--secondary-font);
    line-height: 1.2;
    margin: 0 auto 3rem auto;
}
.header__caption{
    max-width: 34rem;
    font-size: 1.8rem;
    margin: 0 auto 2rem auto;
}
.header__link{
    background-color: var(--primary-color);
}
/* 



============
    main
============



*/
.main{
    padding: 4rem 0;
}
/* 



================
    services
================



*/
.services{
    margin-top: -20rem;
    display: flex;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;
}
.service{
    background-color: var(--white);
    color: var(--dark);
    border-radius: 2rem;
    width: 30rem;
    height: 26rem;
    padding: 0 2rem;
    text-align: center;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin-right: 1rem;
    margin-left: 1rem;
}
.service__img{
    display: block;
}
.service__title{
    font-family: var(--secondary-font);
    font-size: 1.8rem;
    margin: 1.5rem 0 0.6rem 0;
}
/* 



====================
    destinations
====================



*/
.destinations{
    text-align: center;
    padding: 6rem 0;
    color: var(--dark);
}
.destinations__logo{
    width: 8rem;
    height: 8rem;
}
.destinations__title{
    font-family: var(--secondary-font);
    font-size: 3rem;
    max-width: 36rem;
    margin: 3rem auto;
}
.destinations__places{
    display: flex;
    flex-wrap: wrap;
    margin-left: -1rem;
    margin-right: -1rem;
}
/* 



=============
    place
=============



*/
.place{
    width: 30rem;
    flex-grow: 1;
    background-color: var(--white);
    border-radius: 2rem;
    padding: 2rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    overflow: hidden;
}
.place__banner{
    position: relative;
    height: 18rem;
}
.place__img{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    object-fit: cover;
}
.place__like{
    background-color: var(--white);
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 1.5rem;
    cursor: pointer;
}
.place__like-icon{
}
.place__like-icon--fill{
    fill: var(--primary-color);
}
.place__price{
    background-color: var(--white);
    position: absolute;
    bottom: -0.8rem;
    right: 0;
    left: 0;
    width: 12rem;
    margin: 0 auto;
    border-radius: 1rem;
    padding: 0.5rem 2rem;
}
.place__price-text{
    color: var(--primary-color);
    font-family: var(--primary-font-md);
    text-align: center;
}
.place__title{
    font-family: var(--secondary-font);
    margin-top: 3rem;
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.place__caption{
    margin-bottom: 3rem;
}
.place__link{
    color: #8D8D8D;
    background-color: rgba(141,141,141,0.1);
}
/* 



=========================
    destinations btn
=========================



*/
.destinations__btn{
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    transition: all 100ms ease-in;
    margin-top: 3rem;
}
.destinations__btn:hover{
    background-color: var(--primary-color);
    color: var(--app-bg );
}
.newsletter{
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--secondary-color);
    border-radius: 2rem;
    color: var(--dark);
    padding: 3rem 2rem;
    text-align: center;
    margin: 6rem 0;
}
.newsletter__content{
}
.newsletter__title{
    font-family: var(--secondary-font);
    font-size: 3rem ;
    margin: 1.5rem auto;
}
.newsletter__caption{
    font-family: var(--primary-font-md);
}
.newsletter__email-box{
    background-color: var(--white);
    border-radius: 2rem;
    height: 8rem;
    padding: 0 1.5rem;
    margin-top: 2rem;
}
.newsletter__form{
    display: flex;
    align-items: center;
    height: 100%;
}
.newsletter__email-icon{
    flex-shrink: 0;
}
.newsletter__input{
    border: none;
    outline: none;
    padding: 0 1rem;
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: #8D8D8D;
}
.newsletter__submit{
    background-color: var(--primary-color);
    border: none;
    outline: none;
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.newsletter__banner{
}
.newsletter__img{
    width: 100%;
}