@media (max-width: 380px) {
    .header__title{
        font-size: 4rem;
    }
    .destinations__title{
        font-size: 2.4rem;
    }
    .newsletter__title{
        max-width: 16rem;
    }
}


@media (min-width: 576px) {

}


@media (min-width: 768px) {
    .nav__btn{
        display: none;
    }
    .menu{
        display: flex;
    }
    .nav-menu{
        display: none;
    }
    .newsletter{
        flex-direction: row;
        align-items: center;
        text-align: left;
    }
    .newsletter__content{
        flex-basis: 60%;
        padding-right: 2rem;
    }
    .newsletter__banner{
        flex-basis: 40%;
    }
}


@media (min-width: 992px) {
    .nav__links{
        display: block;
    }
    .header__caption{
        max-width: 50rem;
    }
    .newsletter__content{
        padding-right: 4rem;
    }
    .newsletter__title{
        margin-bottom: 0;
    }
}


@media (min-width: 1200px) {
    .newsletter{
        justify-content: space-between;
    }
    .newsletter__content{
        flex-basis: auto;
        width: 60rem;
    }
    .newsletter__banner{
        flex-basis: auto;
        width: 42rem;
    }
}

@media (min-width: 1400px) {
    .newsletter{
        padding: 3rem 6rem;
    } 
}